<%= render'users/userinfo',user: @user %>
<%= render'infocreate',book: @book %>

 <% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this obj from being saved:
 <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
<% end %>
 </ul>
 <% end %>

<div class = "col-md-8 offset-md-1">
<h2>Books</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<p>title opinion</p>
<% @books.each do |book| %>
<div>
    <p><%= image_tag book.user.get_profile_image(100,100) %></p>
    <%= link_to book_path(book.id) do %>
    <%= book.title %>
    <% end %>
    <p><%= book.body %></p>
</div>
</div>
<% end %>