<h1>New Book</h1>
<%= form_with model:@book do |f| %>

<p>Title</p>
<%= f.text_field :title %>

<p>Opinion</p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>

<h1>Books</h1>
<p>title opinion</p>
<% @books.each do |book| %>
<div>
    <p>投稿ユーザー画像</p>
    <p><%= book.title %></p>
    <p><%= book.body %></p>
</div>
<% end %>